                            /* Shareable Resume */
 
 
 body{
    margin: 20px;
    padding: 0;
    background:url(image)no-repeat center center/cover ;

}
.container form{
    margin:90px 300px;
    padding-left: 20px;
    width: 670px;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
 }

.container form h1{
    color: #a5a5a5;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
 }

.container form input {
    width: 350px;
    height: 50px;
    padding-right: 200px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #7c7b7b;
 }

.container form input ::placeholder{
    color:#ddd ;
 }
.container form #phone,
.container form #address{
    margin-left: 20px;
    
 }

.container form h4{
    color: #7c7b7b;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
 }
.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #7c7b7b;
    color: #8f8f8f;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 30px;
    max-height: 30px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194, 194, 194,0.713);
}
.container form #button{
    border: none;
    background: #bfd3e9b0;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #7f8181;
    /* width: 100px; */
    padding: 0;
    /* margin-right: 500px; */
    margin-bottom: 30px;
    transition: 0.3s;
}
.container form #button:hover{
    opacity: 0.7;
} 
#resume-display{
    margin:90px 300px;
    padding-left: 20px;
    width: 670px;
    height: 500px;
    display: block;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
    outline: none;
}
.container2{
    justify-content: center;
    align-items: center;
}